{
   "plugins": ["testing-library"],
   "extends": ["plugin:testing-library/react"]
   "rules": {
      "testing-library/await-async-query": "error",
      "testing-library/no-await-sync-query": "error",
      "testing-library/no-debug": "warn"
   }
}
